.gradient1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #151515 0%, rgba(21, 21, 21, 0) 100%);
}